.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Game-Screen {
  background-color: #b9b9b9;
  position: relative;
  width: 900px;
  height: 700px;
  top: 20px;
}

.Wall-1 {
  background-image: url("../src/img/wall.png");
  position: absolute;
  background-repeat: repeat-y;
  background-position: top;
  height: 500px;
  width: 70px;
  left: 100px;
  top: 70px;
}

.Wall-2 {
  background-image: url("../src/img/wall.png");
  position: absolute;
  background-repeat: repeat-y;
  background-position: top;
  height: 200px;
  width: 70px;
  left: 300px;
  top: 70px;
}

.Wall-3 {
  background-image: url("../src/img/wall.png");
  position: absolute;
  background-repeat: repeat-y;
  background-position: top;
  height: 200px;
  width: 70px;
  left: 300px;
  top: 370px;
}

.Wall-4 {
  background-image: url("../src/img/wall.png");
  position: absolute;
  background-repeat: repeat-y;
  background-position: top;
  height: 500px;
  width: 70px;
  left: 500px;
  top: 70px;
}

.Wall-5 {
  background-image: url("../src/img/wall.png");
  position: absolute;
  background-repeat: repeat-y;
  background-position: top;
  height: 200px;
  width: 70px;
  left: 700px;
  top: 70px;
}

.Wall-6 {
  background-image: url("../src/img/wall.png");
  position: absolute;
  background-repeat: repeat-y;
  background-position: top;
  height: 200px;
  width: 70px;
  left: 700px;
  top: 370px;
}
